<section class="conatiner mt-3">

  <h1 class="center">List all Articles</h1>

  <div class="container">

    <%= content_tag(:div, will_paginate, class: 'pagination paginaton-sm justify-content-center') %>

    <%= render "article", obj: @articles %>

    <%= content_tag(:div, will_paginate, class: 'pagination paginaton-sm justify-content-center') %>

  </div>

</section>
