<section>
  <nav>
    <ul>
      <li><%=link_to 'home', root_path%></li>
      <li><%=link_to 'About', about_path%></li>
    </ul>
  </nav>
</section>


<header class="header-container">
  <h1 class="page-title">Bro's Who Brunch</h1>
  <img class="responsive" src="https://images.unsplash.com/photo-1468071174046-657d9d351a40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80" alt="brunch burger" >
</header>

<section class="container">

  <div class="headshot">
    <img src="https://images.unsplash.com/photo-1563122870-6b0b48a0af09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="5 Terre" style="width:100%">
    <div class="container">
    <p>Michael</p>
    </div>
    <div class="overlay">
      <h1> Complete bio here</h1>
      <p> Chillwave fam small batch brooklyn, poke slow-carb pug master cleanse four loko you probably haven't heard of them roof party man braid chicharrones. Next level bitters hot chicken scenester. Portland adaptogen typewriter la croix. Leggings slow-carb post-ironic organic hashtag</p>
      <!-- <div class="text"> Chillwave fam small batch brooklyn, poke slow-carb pug master cleanse four loko you probably haven't heard of them roof party man braid chicharrones. Next level bitters hot chicken scenester. Portland adaptogen typewriter la croix. Leggings slow-carb post-ironic organic hashtag.</div> -->
    </div>
  </div>


  <div class="headshot">
    <img src="https://images.unsplash.com/photo-1563122870-6b0b48a0af09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="5 Terre" style="width:100%">
    <div class="container">
    <p>Kenyatta</p>
    </div>
    <div class="overlay">
      <h1> Complete bio here</h1>
      <p> Chillwave fam small batch brooklyn, poke slow-carb pug master cleanse four loko you probably haven't heard of them roof party man braid chicharrones. Next level bitters hot chicken scenester. Portland adaptogen typewriter la croix. Leggings slow-carb post-ironic organic hashtag</p>
    </div>
  </div>

  <div class="headshot">
    <img src="https://images.unsplash.com/photo-1563122870-6b0b48a0af09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="5 Terre" style="width:100%">
    <div class="container">
    <p>Aaron</p>
    </div>
    <div class="overlay">
      <h1> Complete bio here</h1>
      <p> Chillwave fam small batch brooklyn, poke slow-carb pug master cleanse four loko you probably haven't heard of them roof party man braid chicharrones. Next level bitters hot chicken scenester. Portland adaptogen typewriter la croix. Leggings slow-carb post-ironic organic hashtag</p>
    </div>
  </div>

</section>

<!-- <section class="container">

  <article class="bio-card">
    <img  src="https://images.unsplash.com/photo-1563122870-6b0b48a0af09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
    <div class="container">
      <h1 class="center">Maclom</h1>

     <p>This will be the premise of a brunch blog for men. Here they will share their perosnal thought-pieces, exeperiences and best spot to communion and brunch!</p>

      </div>
  </article>

  <article class="bio-content">
    <img class="headshot" src="https://images.unsplash.com/photo-1563122870-6b0b48a0af09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">

     <h1 class="center">Maclom</h1>

    <p>This will be the premise of a brunch blog for men. Here they will share their perosnal thought-pieces, exeperiences and best spot to communion and brunch!</p>

  </article>

  <article class="bio-content">
    <h1 class="center">James</h1>
    <p>Topics can range from relationships, navigating the workspace, community issues, mental awareness. All with the understand we are all here to learn and grow. Positive vibes. Love your brother. </p>

  </article>

  <article class="bio-content">
    <h1 class="center">Aaron</h1>
    <p>This will be the premise of a brunch blog for men. Here they will share their perosnal thought-pieces, exeperiences and best spot to communion and brunch!</p>

  </article>

  <article class="bio-content">
    <h1 class="center">Kenyatta</h1>
    <p>This will be the premise of a brunch blog for men. Here they will share their perosnal thought-pieces, exeperiences and best spot to communion and brunch!</p>

  </article>
</section> -->
