<section>
  <nav>
    <ul>
      <li><%=link_to 'home', root_path%></li>
      <li><%=link_to 'About', about_path%></li>
    </ul>
  </nav>
</section>

<header class="header-container">
  <h1 class="page-title">Bro's Who Brunch</h1>
  <img class="responsive" src="https://images.unsplash.com/photo-1502288525741-4dfea1009886?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="group of african american men" >
</header>


<div class="bg-container">
  <section class="container">
    <article class="secondary-content">
      <p>Lorem ipsum dolor amet banjo helvetica kickstarter cold-pressed, wolf selvage copper mug sustainable tousled sartorial literally pug brunch meh. La croix 90's YOLO, kickstarter kale chips selfies chambray intelligentsia viral. Chillwave fam small batch brooklyn, poke slow-carb pug master cleanse four loko you probably haven't heard of them roof party man braid chicharrones. Next level bitters hot chicken scenester. Portland adaptogen typewriter la croix. Leggings slow-carb post-ironic organic hashtag.
      </p>
    </article>
  </section>
</div>

<div class="bg-1">
  <section class="container">
    <article class="lead-content">
      <h1 class="center">Crew</h1>
      <p>This will be the premise of a brunch blog for men. Here they will share their perosnal thought-pieces, exeperiences and best spot to communion and brunch!</p>
          <button class="button center" type="button" name="bio"> Learn More!  </button>
    </article>

    <article class="lead-content">
      <h1 class="center">Vibe</h1>
      <p>Topics can range from relationships, navigating the workspace, community issues, mental awareness. All with the understand we are all here to learn and grow. Positive vibes. Love your brother. </p>
          <button class="button center" type="button" name="bio"> Catch One!   </button>
    </article>
  </section>
</div>

<div class="">
  <section class="container">
    <article class="third-content">
      <p>Lorem ipsum dolor amet banjo helvetica kickstarter cold-pressed, wolf selvage copper mug sustainable tousled sartorial literally pug brunch meh. La croix 90's YOLO, kickstarter kale chips selfies chambray intelligentsia viral. Chillwave fam small batch brooklyn, poke slow-carb pug master cleanse four loko you probably haven't heard of them roof party man braid chicharrones. Next level bitters hot chicken scenester. Portland adaptogen typewriter la croix. Leggings slow-carb post-ironic organic hashtag.
      </p>
    </article>
  </section>
</div>
