// anthing that overides bootstrap starts above the import code



@import "bootstrap";

//                            NAVBAR

.bg-dark {
  background-color: #060606 !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #b9b2b2;
  text-decoration: none;
}

//                           JUMBOTRONS

.center {
  text-align: center;
}

.jumbotron {
  border-radius: 0;
}

.jumbotron, #home {
  background-image: asset-url("home_jumbotron_photo.jpeg");
  background-size: cover;
  min-height: 69vw;
}

 .jumbotron, #about {
  background-image: asset-url("about_jumbotron_photo.jpeg");
  background-size: cover;
  min-height: 69vw;
}

.jumbotron h1 {
  margin-top: 2rem;
  font-size: 10vw;
  text-align: center;
  letter-spacing: -2px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.jumbotron p {
  margin-top: 2rem;
  font-size: 2vw;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.btn-xlg {
  font-size: 1.7em;
}

//                             FORMS

.right {
  text-align: right;
}

.danger-link a {
  color: red;
}

.danger-link a:hover {
  color: #610202;
  text-decoration: none;
}

//                             FOOTER

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #333;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

//                          MEDIA BREAKS

@media only screen and (max-width:620px) {
  /* For mobile phones: */
 .menu, .main, .right {
    width:100%;
  }

  .jumbotron {
    background-image: asset-url("home_jumbotron_photo.jpeg");
    height: 100%;
  }

}
